@charset "UTF-8";
.fv-right {
  height: 100vh;
  width: 72%;
  position: relative;
  overflow: hidden;
  /* アニメーション */
}

.fv-right .fv-right__upper-row, .fv-right .fv-right__middle-row, .fv-right .fv-right__lower-row, .fv-right .fv-right__btn-wrapper {
  position: absolute;
  left: calc(50% - 635px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.fv-right__upper-row {
  bottom: calc( 100% - 358px / 2 - 32px);
}

.fv-right__middle-row {
  bottom: calc( 100% - 358px / 2 - 358px / 2.8);
}

.fv-right__lower-row {
  bottom: 50%;
}

.fv-right .fv-right__upper-item, .fv-right .fv-right__middle-item, .fv-right .fv-right__lower-item, .fv-right .fv-right__prev-btn, .fv-right .fv-right__next-btn {
  position: relative;
  width: 635px;
  height: 358px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-right: 64px;
  z-index: 1;
  border: 1px solid #ccc;
}

.fv-right__upper-item {
  /* 深さ 角度 斜め奥方向の座標の調整 / upper-rowの下底とmiddle-rowの上底を合わせる(middle-rowのtranslateY(358px / -2) - 画像の高さ($img-height) */
  -webkit-transform: perspective(1200px) rotateX(90deg) translateY(calc(358px / -2 - 358px));
          transform: perspective(1200px) rotateX(90deg) translateY(calc(358px / -2 - 358px));
  opacity: 0;
}

.fv-right__middle-item {
  -webkit-transform: perspective(1200px) rotateX(70deg) translateY(calc(358px / -2));
          transform: perspective(1200px) rotateX(70deg) translateY(calc(358px / -2));
  opacity: 0.6;
  cursor: pointer;
}

.fv-right__lower-item {
  -webkit-transform: translateY(calc(358px / 2));
          transform: translateY(calc(358px / 2));
  opacity: 1;
}

.fv-right__btn-wrapper {
  bottom: 50%;
}

.fv-right__prev-btn {
  -webkit-transform: translateY(calc(358px / 2));
          transform: translateY(calc(358px / 2));
  left: calc(-64px - 635px);
  background-color: red;
  opacity: 0.2;
}

.fv-right__next-btn {
  -webkit-transform: translateY(calc(358px / 2));
          transform: translateY(calc(358px / 2));
  background-color: blue;
  opacity: 0.2;
}

.fv-right .hidden-to-upper_position {
  bottom: calc(100% - 358px / 2 - 358px / 2.8);
}

.fv-right .upper-to-middle_position {
  bottom: 50%;
}

.fv-right .middle-to-lower_position {
  bottom: calc( 0% - 358px / 2 + 358px / 2.8);
}

.fv-right .lower-to-hidden_position {
  bottom: calc( 358px / -2 + 32px);
}

.fv-right .hidden-to-upper_transform {
  -webkit-transform: perspective(1200px) rotateX(70deg) translateY(calc(358px / -2));
          transform: perspective(1200px) rotateX(70deg) translateY(calc(358px / -2));
  opacity: 0.6;
  cursor: pointer;
}

.fv-right .upper-to-middle_transform {
  -webkit-transform: translateY(calc(358px / 2));
          transform: translateY(calc(358px / 2));
  opacity: 1;
  cursor: auto;
}

.fv-right .middle-to-lower_transform {
  -webkit-transform: perspective(1200px) rotateX(-70deg) translateY(calc(358px / 2));
          transform: perspective(1200px) rotateX(-70deg) translateY(calc(358px / 2));
  opacity: 0.6;
  cursor: pointer;
}

.fv-right .lower-to-hidden_transform {
  -webkit-transform: perspective(1200px) rotateX(-90deg) translateY(calc(358px / 2 + 358px));
          transform: perspective(1200px) rotateX(-90deg) translateY(calc(358px / 2 + 358px));
  opacity: 0;
  cursor: auto;
}
/*# sourceMappingURL=fv-right.css.map */