@import "fv-left";
@import "fv-right";
@import "catch";
@import "service";
@import "about";
@import "blog";
@import "contact";

.conteiner {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
}
/* 1200px以上 */
// @media screen and (min-width: 1200px) {
//   html {
//     font-size: 62.5%;
//   }
// }
